# Testing `collection.py`

In [1]:
import dariah_topics.preprocessing as prepro
# Warning is Gensim related

In [2]:
path_txt = "corpus_txt"
path_csv = "corpus_csv"

##### Liste mit Dateinamen erzeugen

In [3]:
doclist_txt = prepro.create_document_list(path_txt)
doclist_txt[:5]

['corpus_txt\\Doyle_AScandalinBohemia.txt',
 'corpus_txt\\Doyle_AStudyinScarlet.txt',
 'corpus_txt\\Doyle_TheHoundoftheBaskervilles.txt',
 'corpus_txt\\Doyle_TheSignoftheFour.txt',
 'corpus_txt\\Howard_GodsoftheNorth.txt']

In [4]:
doclist_csv = prepro.create_document_list(path_csv, 'csv')
doclist_csv[:5]

['corpus_csv\\Doyle_AStudyinScarlet.txt.csv',
 'corpus_csv\\Doyle_TheHoundoftheBaskervilles.txt.csv',
 'corpus_csv\\Doyle_TheSignoftheFour.txt.csv',
 'corpus_csv\\Howard_GodsoftheNorth.txt.csv',
 'corpus_csv\\Howard_SchadowsinZamboula.txt.csv']

##### Corpus laden

In [5]:
corpus_txt = prepro.read_from_txt(doclist_txt)

In [6]:
corpus_csv = prepro.read_from_csv(doclist_csv)

#### Document Labels

In [7]:
doc_labels = list(prepro.get_labels(doclist_txt))

Tokenize

In [8]:
#doc_tokens = prepro.tokenize(corpus_txt)

doc_tokens = [list(prepro.tokenize(txt)) for txt in list(corpus_txt)]

#### Dictionaries

In [9]:
id_types, doc_ids = prepro.create_dictionaries(doc_labels, doc_tokens)

#### Sparse BOW Model

In [10]:
sparse_bow = prepro.create_mm(doc_labels, doc_tokens, id_types, doc_ids)

In [11]:
sparse_bow

                   0
doc_id token_id
0      7           1
       8876        1
       16395       2
       20493       1
       685         1
       4112        2
       1368        1
       16402      11
       1282        4
       17595       1
       16406       2
       12003       1
       20506       2
       10927       1
       12316       1
       19802       4
       20510       2
       16418       1
       12323       1
       12326       2
       8231        1
       5866      235
       16427       1
       12334       4
       20530       5
       20533       1
       55          1
       4152        2
       23220       1
       12277       1
...              ...
16     20420       4
       20421       1
       12230       1
       16327       1
       4040        5
       13644       1
       12243       1
       24534       1
       13774       2
       5045        1
       4058        1
       24539       1
       4060        3
       16350       1
       4064        1
       24545       1
       12262       1
       8167        1
       12266       3
       4079        1
       20465       2
       16370       3
       12275       2
       16372       1
       12277       4
       16374       1
       20471       2
       12281       1
       22095       2
       3413        2

[58745 rows x 1 columns]

#### Remove Features

In [12]:
import os.path
basepath =  os.path.abspath(os.path.join(".", os.pardir))

with open(os.path.join(basepath, "Topics/tutorial_supplementals/stopwords/en"), 'r', encoding = 'utf-8') as f: 
    stopword_list = f.read().split('\n')
    
stopword_list = set(stopword_list)

In [13]:
sparse_df_stopwords_removed = prepro.remove_features(sparse_bow, id_types, stopword_list)

In [21]:
print(len(sparse_bow))
print(len(sparse_df_stopwords_removed))

58745
53040

#### DEV TESTING

In [14]:
sparse_bow_hapax = sparse_bow[sparse_bow[0] != 1]

In [15]:
sparse_bow_removed = sparse_bow[sparse_bow[0] != 1]
sparse_bow_removed = sparse_bow_removed[sparse_bow_removed[0] < 30]

In [16]:
import os.path
basepath =  os.path.abspath(os.path.join(".", os.pardir))

#print(os.path.join(basepath, "Topics\tutorial_supplementals\stopwords\de"))

with open(os.path.join(basepath, "Topics/tutorial_supplementals/stopwords/en"), 'r', encoding = 'utf-8') as f: 
    stopword_list = f.read().split('\n')

In [17]:
sparse_bow.xs(20426, level = "token_id")

        0
doc_id
11      2

In [18]:
stoplist_applied = [word for word in set(id_types.keys()) if word in set(stopword_list)]

sparse_bow_stoplist = sparse_bow.drop([id_types[word] for word in stoplist_applied], level="token_id")

In [19]:
sparse_bow_stoplist

                 0
doc_id token_id
0      7         1
       8876      1
       20493     1
       685       1
       4112      2
       1368      1
       1282      4
       17595     1
       16406     2
       12003     1
       10927     1
       12316     1
       20510     2
       16418     1
       12326     2
       8231      1
       16427     1
       12334     4
       20533     1
       55        1
       4152      2
       23220     1
       61        2
       10933     1
       67        1
       4167      1
       20553     1
       8266      1
       12364     1
       13666     3
...             ..
16     8096      1
       2032      4
       8105      1
       8107      1
       24497     2
       16307     1
       16309     1
       20421     1
       12230     1
       16327     1
       12243     1
       13774     2
       5045      1
       4058      1
       24539     1
       4060      3
       16350     1
       4064      1
       24545     1
       12262     1
       12266     3
       4079      1
       20465     2
       12275     2
       16372     1
       16374     1
       20471     2
       12281     1
       22095     2
       3413      2

[53040 rows x 1 columns]

##### Create Feature Remove Lists

In [20]:
stopword_list = collection.find_stopwords(docterm_matrix, 100)
stopword_list

NameError: name 'collection' is not defined

In [ ]:
hapax = set(docterm_matrix[docterm_matrix == 1].index)
#hapax = set(docterm_matrix[(docterm_matrix < 2).all(axis=1)].index)
len(hapax)

In [ ]:
hapax_list = collection.find_hapax(docterm_matrix)
len(hapax_list)

In [ ]:
feature_list = stopword_list.union(hapax_list)
print(feature_list)
clean_term_frequency = docterm_matrix.drop(feature_list)

In [ ]:
clean_term_frequency

##### Lemmas anhand POS-Tags auswählen

In [ ]:
lemmas = collection.filter_POS_tags(corpus_csv)
next(lemmas)

In [ ]:
labels = collection.get_labels(doclist_txt)
list(labels)

##### Aufruf von Mallet

In [ ]:
path_to_mallet = "mallet"
path_to_corpus = "corpus_txt"

mallet = collection.call_mallet(path_to_mallet, path_to_corpus)

##### Visualisierung

In [ ]:
lda_model = 'out_easy/corpus.lda'
corpus = 'out_easy/corpus.mm'
dictionary = 'out_easy/corpus.dict'
doc_labels = 'out_easy/corpus_doclabels.txt'
interactive  = False

vis = collection.Visualization(lda_model, corpus, dictionary, doc_labels, interactive)

In [ ]:
heatmap = vis.make_heatmap()

In [ ]:
vis.save_heatmap("./visualizations/heatmap")

In [ ]:
vis = collection.Visualization(lda_model, corpus, dictionary, doc_labels, interactive=True)

In [ ]:
vis.make_interactive()

In [ ]:
vis.save_interactive("./visualizations/interactive")

![success](http://cdn2.hubspot.net/hub/128506/file-446943132-jpg/images/computer_woman_success.jpg)